html, body{
    height: 100%;
    margin: 0;
}
body{
    display: flex;
    flex-direction: column;
}
main{
    flex: 1;
}
.social-icons a {
    font-size: 1.5rem;
}

footer {
    background-color: #1c1c1c;
}

footer a {
    color: #ffffff;
    text-decoration: none;
}

footer a:hover {
    color: #007bff;
}